<div class="wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Quản lý đơn đặt hàng</h5>
            <div class="ibox-tools">
                <div class="btn-group m-t-n-sm">
                    <button class="btn" ng-class="{'btn-white': !mParam.Active, 'btn-primary': mParam.Active}" ng-click="mParam.Active = true; refreshData(1);" type="button">Đơn hàng</button>
                    <button class="btn" ng-class="{'btn-white': mParam.Active, 'btn-primary': !mParam.Active}" ng-click="mParam.Active = false; refreshData(1);" type="button">Đã huỷ</button>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" id="sSearch" class="form-control" ng-change="refreshData(1)" ng-model-options="{updateOn : 'change blur'}" placeholder="Tìm kiếm" ng-model="sSearch" />
                        <label class="input-group-addon"><i class="fa fa-search"></i></label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" placeholder="__/__/____" name="search_start_date"
                               class="form-control " ui-date-vn ng-model="mParam.from" model-view-value="true"
                               ui-mask="99/99/9999">
                        <span class="input-group-addon">&divide;</span>
                        <input type="text" placeholder="__/__/____" name="search_end_date"
                               class="form-control " ui-date-vn ng-model="mParam.to" model-view-value="true"
                               ui-mask="99/99/9999">
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-change="refreshData(1)" ng-model="mParam.TrangThai"
                            ng-options="o.Ma as o.Ten for o in DsTrangThaiLoc">
                    </select>
                </div>
                <div class="col-sm-1">
                    <select class="form-control" ng-change="refreshData(1)" ng-model="mParam.Loai"
                            ng-options="o.v as o.n for o in [{v:1,n:'Đơn sỉ'}, {v:0,n:'Đơn lẻ'}]">
                    </select>
                </div>
            </div>
            <div class="list-item">
                <table class="table table-bordered table-striped table-hover table-middle">
                    <thead>
                        <tr>
                            <th class="text-center" width="6%">STT</th>
                            <th class="text-center">Mã/Khách hàng</th>
                            <th class="text-center">Thông tin liên hệ</th>
                            <th class="text-center" width="100px">Tổng tiền</th>
                            <th class="text-center" width="100px">Trạng thái</th>
                            <th class="text-center" width="90px">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in ListDatas">
                            <td class="text-center">{{$index + 1 + ((iPageIndex -1)*iPageSize)}}</td>
                            <td><a ng-click="OpenDetailForm(r)">{{r.MaDonHang}}</a><br />{{r.TenNguoiNhan}}</td>
                            <td>
                                <div>SĐT: <span>{{r.SoDienThoai}}</span>, Email: <span>{{r.Email}}</span></div>
                                <div>Địa chỉ: {{r.DiaChiFull}}</div>
                            </td>
                            <td class="text-center">{{r.TongTien | number}}</td>
                            <td class="text-center">{{DsTrangThai[r.TrangThai].Ten}}</td>
                            <td class="text-center">
                                <a class="btn btn-white btn-sm" ng-click="OpenDetailForm(r)"><i class="fa fa-pencil text-warning"></i> Chi tiết </a>
                            </td>
                        </tr>
                        <tr ng-if="total == 0 ">
                            <td colspan="6" class="text-center">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-1">
                        <select class="form-control" ng-change="refreshData(1)" ng-model="iPageSize"
                                ng-options="o.v as o.n for o in [{v:5,n:'05'},{v:10,n:'10'},{v:20,n:'20'},{v:50,n:'50'},{v:100,n:'100'}]">
                        </select>
                    </div>
                    <div class="col-sm-3 form-control-static">
                        Tổng: <strong>{{total}}</strong>
                    </div>
                    <div class="col-sm-8">
                        <div class="dataTables_paginate paging_simple_numbers text-right">
                            <ul class="pagination" id="lstPage"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="myModal-detail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-right m-t-n-xs float-right">
                    <button class="btn btn-primary" ng-click="CreateOrUpdate()">Lưu dữ liệu</button>
                    <button class="btn btn-white" ng-click="CheckSave()">Thoát</button>
                </div>
                <h4 class="modal-title">Thông tin Danh mục</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <dl class="dl-horizontal">
                            <dt>Họ tên:</dt>
                            <dd>{{mData.TenNguoiNhan}}</dd>
                            <dt>Địa chỉ:</dt>
                            <dd>{{mData.DiaChiFull}}</dd>
                            <dt>Số điện thoại:</dt>
                            <dd>{{mData.SoDienThoai}}</dd>
                            <dt>EMail:</dt>
                            <dd>{{mData.Email}}</dd>
                        </dl>
                    </div>
                    <div class="col-lg-7" id="cluster_info">
                        <dl class="dl-horizontal">
                            <dt>Trạng thái:</dt>
                            <dd><span class="label label-primary">{{DsTrangThai[mData.TrangThai].Ten}}</span></dd>
                            <dt>Tổng tiền sách:</dt>
                            <dd>{{mData.TongTienhang | number}} đ</dd>
                            <dt>Phí vận chuyển:</dt>
                            <dd>{{mData.TienVanChuyen | number}} đ</dd>
                            <dt>Tổng tiền:</dt>
                            <dd><strong>{{mData.TongTien | number}} đ</strong></dd>
                        </dl>
                    </div>
                </div>
                <div class="m-b-sm text-center" ng-if="mData.Active">
                    <button class="btn btn-success" ng-if="mData.TrangThai < 3" ng-click="ChuyenTrangThai(mData.TrangThai + 1)">{{DsTrangThai[mData.TrangThai + 1].HanhDong}}</button>
                    <button class="btn btn-danger float-right" ng-click="openPopupHuy()">Huỷ đơn hàng</button>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Đơn hàng gồm các sản phẩm: </h5>
                        <div class="ibox-tools">
                            <button class="btn btn-warning m-t-n-sm" ng-click="PrintDonHang(mData)">In đơn hàng</button>
                            <button class="btn btn-primary m-t-n-sm" ng-click="exportExcel(mData)"><i class="fa fa-file-excel-o"></i> Xuất file</button>
                        </div>
                    </div>
                    <div class="ibox-content ibox-padding-table">
                        <table class="table table-hover table-bordered table-middle">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50px">Hình ảnh</th>
                                    <th class="text-center">Sản phẩm</th>
                                    <th class="text-center">Thuộc tính</th>
                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">Tạm tính</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in mData.DsSanPham">
                                    <td class="text-center">
                                        <img alt="image" style="width: 50px;height: 50px;" ng-src="{{row.UrlHinhAnh}}">
                                    </td>
                                    <td>{{row.MaSanPham}}<br />{{row.TenSanPham}}</td>
                                    <td>{{row.ThuocTinh}}</td>
                                    <td class="text-right">{{row.GiaBan | number}} đ</td>
                                    <td class="text-right">{{row.SoLuong | number}}</td>
                                    <td class="text-right">{{row.GiaBan * row.SoLuong | number}} đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="myModalHuy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#myModal-huydon').hide()"><span>&times;</span></button>
                <h4 class="modal-title">Xác nhận huỷ đơn</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="HuyDonHang()" class="form-horizontal chi-tiet-ct">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="input-group-addon">Lý do huỷ:</label>
                                <input type="text" class="form-control" id="input-lydohuy" ng-model="mData.LyDoHuy">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" ng-disabled="IsDangHuy" class="btn btn-danger">
                                <span class="fa fa-trash"></span> Xác nhận huỷ
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>