<div class="body-wrapper space-pt--70 space-pb--120">
    <header>
        <div class="breadcrumb-area space-y--15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-auto pr-1">
                        <div class="header-logo">
                            <a href="javascript: history.back()" class="back-link"> <i class="fa fa-arrow-left">&nbsp;</i></a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center px-1">
                        <h1 class="page-title text-center">Thông tin đơn hàng</h1>
                    </div>
                    <div class="col-auto pl-1">
                        <a href="/" class="header-cart">
                            <img src="assets/img/icons/home.svg" class="injectable" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="order-info-header">
        <div>Mã đơn hàng: <b>{{dh.MaDonHang}}</b></div>
        <div class="trangthai">{{dh.DMTrangThai.Ten}}</div>
        <div><i class="fa fa-calendar-o"></i> {{dh.NgayTrangThai | date: 'HH:mm dd/MM/yyyy'}}</div>
        <span class="icon-trangthai"><i class="fa {{dh.DMTrangThai.Icon}}"></i></span>
    </div>
    <div class="container">
        <div class="order-timeline space-mb--10">
            <div class="font-weight-bold space-mb--5 space-mt--20"><i class="fa fa-history"></i> Lịch sử đơn hàng</div>
            <div class="timeline-item" ng-repeat="ls in lichSu">
                <div class="row justify-content-center">
                    <div class="col-3 date">
                        <i class="fa {{ls.Icon}}"></i>
                        {{ls.ThoiGian | date: 'HH:mm'}}
                    </div>
                    <div class="col-7 content no-top-border">
                        <p><strong>{{ls.TenTrangThai}}</strong></p>
                        {{ls.ThoiGian | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="order-address space-mb--10">
            <p class="order-address-title"><i class="fa fa-map-marker"></i> Địa chỉ nhận hàng</p>
            <p class="order-address-content"> {{dh.TenNguoiNhan}} | {{dh.SoDienThoai}}<br />{{dh.DiaChiFull}}</p>
        </div>
        <div class="order-product-area">
            <div class="cart-product-box border-bottom--medium" ng-repeat="sp in dh.DsSanPham">
                <div class="cart-product">
                    <div class="cart-product__image">
                        <a ng-href="/Product?id={{sp.IdSanPham}}">
                            <div class="img-fluid d-flex bg-img center" data-bg="{{UrlApp + sp.UrlHinhAnh}}"></div>
                        </a>
                    </div>
                    <div class="cart-product__content">
                        <h3 class="title"><a ng-href="/Product?id={{sp.IdSanPham}}">{{sp.TenSanPham}}</a></h3>
                        <div class="price">
                            <span class="main-price" ng-if="sp.GiaBan != sp.GiaGoc">{{sp.GiaGoc | number: 0}}đ</span>
                            <span class="discounted-price">{{sp.GiaBan | number: 0}}đ</span>
                            <span class="float-right">x {{sp.SoLuong | number: 0}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-product-button fix-bottom">
            <button class="buy" ng-if="dh.TrangThai < 3" ng-click="openPopupHuy()">Huỷ đơn hàng</button>
        </div>
    </div>
    <div class="modal inmodal" id="myModalHuy">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận huỷ đơn</h5>
                    <button type="button" class="close" onclick="$('#myModal-huydon').hide()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="HuyDonHang()" class="form-horizontal chi-tiet-ct">
                        <div>
                            <label>Lý do huỷ:</label>
                            <input type="text" class="form-control" id="input-lydohuy" ng-model="dh.LyDoHuy">
                        </div>
                        <div class="text-center space-mt--10">
                            <button type="submit" ng-disabled="IsDangHuy" class="btn btn-danger">
                                <span class="fa fa-trash"></span> Xác nhận huỷ
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>