<div class="body-wrapper space-pt--70 space-pb--15">
    <header>
        <div class="breadcrumb-area space-y--15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <a href="javascript: history.back()" class="back-link"> <i class="fa fa-arrow-left">&nbsp;</i></a>
                    </div>
                    <div class="col-10">
                        <h1 class="page-title text-center">Chỉnh sửa tài khoản</h1>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====================  edit profile body ====================-->
    <div class="edit-profile-body space-mt--30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="profile-header" style="justify-content: center;">
                        <div class="profile-header__image" style="position: relative;">
                            <img ng-if="user.Avatar" ng-src="{{UrlApp + user.Avatar}}" class="img-fluid" alt="">
                            <img ng-if="!user.Avatar" src="/assets/img/profile.jpg" class="img-fluid" alt="">
                            <div class="change-image" onclick="$('#myFile').click();"><i class="fa fa-camera fa-lg"></i></div>
                            <input type="file" id="myFile" hidden accept=".jpg,.png" onchange="angular.element(this).scope().ChonAnh()">
                        </div>
                    </div>
                    <!-- edit profile form -->
                    <div class="edit-profile-form">
                        <form method="post" ng-submit="updateData()">
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="fullName">Họ tên</label>
                                <input type="text" name="fullName" id="fullName" ng-model="mUser.HoTen" placeholder="Nhập họ tên của bạn">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="phoneNo">Số điện thoại</label>
                                <input type="text" name="phoneNo" id="phoneNo" ng-model="mUser.DienThoai" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="emailAddress">Email</label>
                                <input type="text" name="emailAddress" id="emailAddress" ng-model="mUser.Email" placeholder="Nhập địa chỉ email">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="dsTinhThanh">Tỉnh/Thành phố</label>
                                <select id="dsTinhThanh" ng-model="mUser.IdTinhThanh" ng-change="LoadQuanHuyen(mUser.IdTinhThanh)">
                                    <option value="{{o.Id}}" ng-repeat="o in DsTinhThanh">{{o.Ten}}</option>
                                </select>
                            </div>
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="dsQuanHuyen">Quận/Huyện</label>
                                <select id="dsQuanHuyen" ng-model="mUser.IdHuyenTP" ng-change="LoadXaPhuong(mUser.IdHuyenTP)">
                                    <option value="{{o.Id}}" ng-repeat="o in DsQuanHuyen">{{o.Ten}}</option>
                                </select>
                            </div>
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="dsXaPhuong">Xã/Phường</label>
                                <select id="dsXaPhuong" ng-model="mUser.IdXaPhuong">
                                    <option value="{{o.Id}}" ng-repeat="o in DsXaPhuong">{{o.Ten}}</option>
                                </select>
                            </div>
                            <div class="edit-profile-form__single-field space-mb--30">
                                <label for="shippingAddress">Địa chỉ</label>
                                <textarea name="shippingAddress" id="shippingAddress" ng-model="mUser.DiaChi" cols="30" rows="2" placeholder="Số nhà, đường phố"></textarea>
                            </div>
                            <div class="footer-nav-wrapper">
                                <button class="edit-profile-form__button">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of edit profile body  ====================-->
</div>