<div class="body-wrapper space-pt--70 space-pb--120">
    <!--====================  breadcrumb area ====================-->
    <header>
        <div class="breadcrumb-area space-y--15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <a href="javascript: history.back()" class="back-link"> <i class="fa fa-arrow-left">&nbsp;</i></a>
                    </div>
                    <div class="col-10">
                        <h1 class="page-title text-center">Sự kiện - Khuyến mại</h1>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====================  End of breadcrumb area  ====================-->
    <!--====================  Event area ====================-->
    <div class="list-event-wrapper">
        <div class="list-event border-bottom--medium" ng-repeat="row in ListDatas">
            <div class="list-event__image">
                <a href="/Event/{{row.Id}}">
                    <div class="img-fluid d-flex bg-img" data-bg="{{UrlApp + row.UrlHinh}}"></div>
                </a>
            </div>
            <div class="list-event__content text-justify pt-4">
                <h3 class="title"><a href="/Event/{{row.Id}}">{{row.TieuDe}}</a></h3>
                <div><i class="fa fa-clock-o"></i> {{row.NgayDang | date: 'HH:mm dd/MM/yyyy'}}</div>
            </div>
        </div>
        <div ng-if="totalPage > iPageIndex">
            <div class="loading-more">
                <i class="fa fa-spinner"></i>
                <a href="javascript:void(0)" ng-click="loadData(iPageIndex + 1)">
                    Tải thêm
                </a>
            </div>
        </div>
    </div>
    <!--====================  End of event area  ====================-->
    <!--====================  footer area ====================-->
    <footer>
        <div class="footer-nav-wrapper">
            <a href="/" class="footer-nav-single">
                <div class="menu-wrapper">
                    <img src="assets/img/icons/home.svg" class="injectable" alt="">
                    <span>Trang chủ</span>
                </div>
            </a>
            <a href="/Shop" class="footer-nav-single">
                <div class="menu-wrapper">
                    <img src="assets/img/icons/shop.svg" class="injectable" alt="">
                    <span>Cửa hàng</span>
                </div>
            </a>
            <a href="/Event" class="footer-nav-single active">
                <div class="menu-wrapper">
                    <i class="fa fa-tags"></i>
                    <span>Khuyến mại</span>
                </div>
            </a>
            <a href="/Contact" class="footer-nav-single">
                <div class="menu-wrapper">
                    <i class="fa fa-info-circle"></i>
                    <span>Giới thiệu</span>
                </div>
            </a>
            <a class="footer-nav-single header-menu-trigger">
                <div class="menu-wrapper">
                    <i class="fa fa-gear"></i>
                    <span>Thêm</span>
                </div>
            </a>
        </div>
    </footer>
    <!--====================  End of footer area  ====================-->
    <!--====================  mobile menu overlay ====================-->
    <div class="offcanvas-menu" id="offcanvas-menu">
        <div class="profile-card text-center" ng-if="IsDaDangNhap()">
            <div class="profile-card__image space-mb--10 px-4">
                <img ng-if="user.Avatar" ng-src="/api/files?s={{user.Avatar}}" class="img-fluid" alt="">
                <img ng-if="!user.Avatar" src="/assets/img/profile.jpg" class="img-fluid" alt="">
            </div>
            <div class="profile-card__content">
                <p class="name">{{user.HoTen}} <span class="id">ID: {{user.UserName}}</span></p>
            </div>
        </div>
        <div class="offcanvas-navigation-wrapper space-mt--40">
            <ul class="offcanvas-navigation">
                <li ng-if="!IsDaDangNhap()"><span class="icon"><i class="fa fa-sign-in"></i></span><a ng href="/Login">Đăng nhập</a></li>
                <li><span class="icon"><i class="fa fa-info-circle"></i></span><a href="/Contact">Giới thiệu</a></li>
                <li><span class="icon"><i class="fa fa-tags"></i></span><a href="/Event">Sự kiện - Khuyến mại</a></li>
                <li><span class="icon"><i class="fa fa-bell-o"></i></span><a href="/">Thông báo</a></li>
                <li><span class="icon"><img src="assets/img/icons/wishlist.svg" class="injectable" alt=""></span><span class="label">{{YeuThich.SoSanPham}}</span><a href="/Wishlist">Yêu thích</a></li>
                <li><span class="icon"><img src="assets/img/icons/cart-three.svg" class="injectable" alt=""></span><span class="label">{{GioHang.SoSanPham}}</span><a href="/Cart">Giỏ hàng</a></li>
                <li><span class="icon"><i class="fa fa-address-book-o"></i></span><a href="/Profile">Thông tin tài khoản</a></li>
                <li ng-if="IsDaDangNhap()"><span class="icon"><i class="fa fa-sign-out"></i></span><a ng href="#" ng-click="logout()">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->
</div>