<div class="body-wrapper space-pt--70 space-pb--15">
    <!--====================  breadcrumb area ====================-->
    <header>
        <div class="breadcrumb-area space-y--15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <a href="javascript: history.back()" class="back-link"> <i class="fa fa-arrow-left">&nbsp;</i></a>
                    </div>
                    <div class="col-10">
                        <h1 class="page-title text-center">{{gt.TieuDe}}</h1>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====================  End of breadcrumb area  ====================--><!--====================  contact page content ====================-->
    <div class="contact-page-content">
        <div class="container space-pt--25 space-pb--30 px-4">
            <div class="contact-page-content__text text-justify" style="font-size: 1.2em;">
                <div ng-bind-html="trustedContent"></div>
            </div>
        </div>
    </div>
    <!--====================  End of contact page content  ====================-->
</div>