<div class="body-wrapper space-pt--70 space-pb--120">
    <!--====================  header area ====================-->
    <header>
        <div class="header-wrapper">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto pr-1">
                        <!-- header logo -->
                        <div class="header-logo">
                            <a href="/">
                                <img src="assets/img/logo-white.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center px-1">
                        <!-- header search -->
                        <div class="header-search">
                            <form>
                                <input type="text" class="header-search-input" ng-model="strSearch" ng-model-options="{updateOn : 'change blur'}" ng-change="TimKiemSanPham(strSearch)" placeholder="Bạn cần sản phẩm gì?">
                                <img src="assets/img/icons/search.svg" class="injectable" alt="">
                            </form>
                        </div>
                    </div>
                    <div class="col-auto pl-1">
                        <a href="/Cart" class="header-cart">
                            <img src="assets/img/icons/cart.svg" class="injectable" alt="">
                            <span ng-show="GioHang.SoSanPham" class="label">{{GioHang.SoSanPham}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- search keywords -->
        <div class="search-keyword-area space-xy--15 bg-color--grey2" id="search-keyword-box">
            <div class="search-keyword-header space-mb--20">
                <h4 class="search-keyword-header__title">Từ khoá nổi bật</h4>
            </div>
            <ul class="search-keywords">
                <li><a href="Shop?s=but">Bút</a></li>
                <li><a href="Shop?s=so">Sổ</a></li>
                <li><a href="Shop?s=lich">Lịch</a></li>
                <li><a href="Shop?s=but mau">Bút màu</a></li>
                <li><a href="Shop?s=binh hoa">Bình hoa</a></li>
                <li><a href="Shop?s=truyen tranh">Truyện tranh</a></li>
            </ul>
        </div>
    </header>
    <!--====================  End of header area  ====================-->
    <!--====================  hero slider ====================-->
    <div class="hero-slider bg-color--bule-50 space-y--10">
        <div class="container">
            <div class="row row-10">
                <div class="col-12">
                    <div class="hero-slider-wrapper">
                        <div class="hero-slider-item d-flex bg-img" ng-repeat="r in ListBanner" data-bg="{{UrlApp + r.UrlHinhAnh}}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- hero slider content -->
                                        <div class="hero-slider-content">
                                            <h1 class="hero-slider-content__title space-mb--10">{{r.TieuDe}}</h1>
                                            <a href="{{r.LinkWeb}}" class="btn btn-primary">XEM THÊM</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of hero slider  ====================-->
    <!--====================  category slider ====================-->
    <div class="category-slider-area bg-color--grey space-pb--25 space-mb--25">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- section title -->
                    <h2 class="section-title space-mt--10 space-mb--20">Danh mục sản phẩm</h2>
                    <!-- category slider -->
                    <div class="category-slider-wrapper">
                        <div class="category-item" ng-repeat="r in ListDanhMucNoiBat">
                            <div class="category-item__image">
                                <a ng-href="/Shop?id={{r.Id}}">
                                    <div class="img d-flex bg-img" data-bg="{{UrlApp + r.UrlIcon}}"></div>
                                </a>
                            </div>
                            <div class="category-item__title">
                                <a ng-href="/Shop?id={{r.Id}}">{{r.Ten}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of category slider  ====================-->
    <!--====================  featured product ====================-->
    <div class="featured-product-area space-mb--25" ng-repeat="dm in ListDanhMuc">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- section title -->
                    <h2 class="section-title space-mb--20">
                        {{dm.Ten}}<a ng-href="/Shop?id={{dm.Id}}">
                            Xem thêm <span>
                                <img src="assets/img/icons/arrow-right.svg" class="injectable" alt="">
                            </span>
                        </a>
                    </h2>
                    <!-- featured products -->
                    <div class="featured-product-wrapper space-mb-m--15">
                        <div class="row row-5">
                            <div class="col-6" ng-repeat="sp in dm.DsSanPham">
                                <div class="grid-product space-mb--20">
                                    <div class="grid-product__image">
                                        <a ng-href="/Product?id={{sp.Id}}">
                                            <div class="img-fluid d-flex bg-img" data-bg="{{UrlApp + sp.UrlHinhAnh}}"></div>
                                        </a>
                                        <button ng-click="addToHeart(sp)" class="icon"><img src="assets/img/icons/heart-dark.svg" class="injectable" alt=""></button>
                                    </div>
                                    <div class="grid-product__content">
                                        <h3 class="title"><a ng-href="/Product?id={{sp.Id}}">{{sp.Ten}}</a></h3>
                                        <span class="category">{{sp.DanhMuc}}</span>
                                        <div class="price">
                                            <span class="main-price" ng-if="sp.GiaBan != sp.GiaGoc">{{sp.GiaGoc | number: 0}}đ</span>
                                            <span class="discounted-price">{{sp.GiaBan | number: 0}}đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of featured product  ====================-->
    <!--====================  footer area ====================-->
    <footer>
        <div class="footer-nav-wrapper">
            <a href="/" class="footer-nav-single active">
                <div class="menu-wrapper">
                    <img src="assets/img/icons/home.svg" class="injectable" alt="">
                    <span>Trang chủ</span>
                </div>
            </a>
            <a href="/Shop" class="footer-nav-single">
                <div class="menu-wrapper">
                    <img src="assets/img/icons/shop.svg" class="injectable" alt="">
                    <span>Cửa hàng</span>
                </div>
            </a>
            <a href="/Event" class="footer-nav-single">
                <div class="menu-wrapper">
                    <i class="fa fa-tags"></i>
                    <span>Khuyến mại</span>
                </div>
            </a>
            <a href="/Contact" class="footer-nav-single">
                <div class="menu-wrapper">
                    <i class="fa fa-info-circle"></i>
                    <span>Giới thiệu</span>
                </div>
            </a>
            <a class="footer-nav-single header-menu-trigger">
                <div class="menu-wrapper">
                    <i class="fa fa-gear"></i>
                    <span>Thêm</span>
                </div>
            </a>
        </div>
    </footer>
    <!--====================  End of footer area  ====================-->
    <!--====================  mobile menu overlay ====================-->
    <div class="offcanvas-menu" id="offcanvas-menu">
        <div class="profile-card text-center" ng-if="IsDaDangNhap()">
            <div class="profile-card__image space-mb--10 px-4">
                <img ng-if="user.Avatar" ng-src="/api/files?s={{user.Avatar}}" class="img-fluid" alt="">
                <img ng-if="!user.Avatar" src="/assets/img/profile.jpg" class="img-fluid" alt="">
            </div>
            <div class="profile-card__content">
                <p class="name">{{user.HoTen}} <span class="id">ID: {{user.UserName}}</span></p>
            </div>
        </div>
        <div class="offcanvas-navigation-wrapper space-mt--40">
            <ul class="offcanvas-navigation">
                <li ng-if="!IsDaDangNhap()"><span class="icon"><i class="fa fa-sign-in"></i></span><a ng href="/Login">Đăng nhập</a></li>
                <li><span class="icon"><i class="fa fa-info-circle"></i></span><a href="/Contact">Giới thiệu</a></li>
                <li><span class="icon"><i class="fa fa-tags"></i></span><a href="/Event">Sự kiện - Khuyến mại</a></li>
                <li><span class="icon"><i class="fa fa-bell-o"></i></span><a href="/">Thông báo</a></li>
                <li><span class="icon"><img src="assets/img/icons/wishlist.svg" class="injectable" alt=""></span><span class="label">{{YeuThich.SoSanPham}}</span><a href="/Wishlist">Yêu thích</a></li>
                <li><span class="icon"><img src="assets/img/icons/cart-three.svg" class="injectable" alt=""></span><span class="label">{{GioHang.SoSanPham}}</span><a href="/Cart">Giỏ hàng</a></li>
                <li><span class="icon"><i class="fa fa-address-book-o"></i></span><a href="/Profile">Thông tin tài khoản</a></li>
                <li ng-if="IsDaDangNhap()"><span class="icon"><i class="fa fa-sign-out"></i></span><a ng href="#" ng-click="logout()">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->
</div>