<div class="body-wrapper space-pt--70">
    <!--====================  breadcrumb area ====================-->
    <header>
        <div class="breadcrumb-area space-y--15">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <a href="/" class="back-link"> <i class="fa fa-home"></i></a>
                    </div>
                    <div class="col-10">
                        <h1 class="page-title text-center">Đăng nhập</h1>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====================  End of breadcrumb area  ====================-->
    <!-- auth page header -->
    <div class="auth-page-header space-pt--25 space-mb--30">
        <div class="container text-center">
            <img src="/assets/img/logo-color.png" style="width: 80%;" />
            <p ng-if="!RegisterSuccess" class="auth-page-header__text">Hãy đăng nhập để có nhiều chức năng hơn</p>
        </div>
        <div class="container" ng-if="RegisterSuccess">
            <h3 class="auth-page-header__title">Đăng ký thành công!</h3>
            <p class="auth-page-header__text">Bạn hãy nhập lại mật khẩu để đăng nhập.</p>
        </div>
    </div>
    <!-- auth page body -->
    <div class="auth-page-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Auth form -->
                    <div class="auth-form">
                        <form method="post" ng-submit="Login()">
                            <div class="auth-form__single-field space-mb--30">
                                <label for="emailAddress">Số điện thoại / Email</label>
                                <input type="text" name="emailAddress" id="emailAddress" ng-model="user.username" required placeholder="Nhập số điện thoại / email">
                            </div>
                            <div class="auth-form__single-field space-mb--30">
                                <label for="password">Mật khẩu</label>
                                <input type="password" name="password" id="password" ng-model="user.password" required placeholder="Nhập mật khẩu">
                            </div>
                            <div class="auth-form__single-field space-mb--30">
                                <p class="auth-form__info-text">Bạn chưa có tài khoản? <a href="/Register">đăng ký ngay</a></p>
                            </div>
                            <button class="auth-form__button">Đăng nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>