<div class="space-pt--30">
    <div class="container text-center">
        <img src="/assets/img/logo-color.png" style="width: 60%;" />
        <h3>Cảm ơn quỹ khách <br /> đã đặt hàng</h3>
        <h5 class="space-pt--15">
            Mã đơn hàng: <strong style="color: #f39100;">{{MaDonHang}}</strong>
        </h5>
        <p class="space-pt--15 space-mb--15">
            “ Xin cảm ơn quý khách, chúng tôi sẽ liên lạc để xác nhận đơn hàng và giao hàng trong thời gian sớm nhất.” <span>- SeaBook</span>
        </p>
        <div>
            <a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Về trang chủ</a>
            <a ng-href="/CTDonHang?id={{IdDonHang}}" class="btn btn-warning"><i class="fa fa-file-text"></i> Đơn hàng</a>
        </div>

    </div>
</div>