<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Thông tin tài khoản</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Đổi mật khẩu</h3>
            </div>
            <div class="panel-body">
                <form method="get" class="form-horizontal" name="myForm">
                    <div class="form-group">
                        <label class="col-sm-6 col-md-4 control-label">Nhập mật khẩu hiện tại <span style="color: red">(*)</span></label>
                        <div class="col-sm-6 col-md-8">
                            <input type="password" class="form-control" ng-model="vm.updateProfile.password" required placeholder="Nhập mật khẩu vào đây" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-6 col-md-4 control-label">Nhập mật khẩu mới <span style="color: red">(*)</span></label>
                        <div class="col-sm-6 col-md-8">
                            <input type="password" class="form-control" ng-model="vm.updateProfile.newPassword" required placeholder="Nhập mật khẩu mới" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-6 col-md-4 control-label">Xác nhận mật khẩu mới <span style="color: red">(*)</span></label>
                        <div class="col-sm-6 col-md-8">
                            <input type="password" class="form-control" ng-model="vm.updateProfile.confirmPassword" required placeholder="Xác nhận mật khẩu mới" />
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-6 col-md-offset-4">
                            <button class="btn btn-primary" ng-click="vm.updateUserPassword()" ng-disabled="!myForm.$valid" title="(Ctrl+Enter)">Lưu lại</button>
                            <button class="btn btn-white m-l-lg" ng-click="vm.resetView()" title="(Esc)">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>